<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Auditorium" alias="Auditorium"/>
        <typeAlias type="lt.vu.mybatis.model.Movie" alias="Player"/>
        <typeAlias type="lt.vu.mybatis.model.MovieTheatre" alias="MovieTheatre"/>
        <typeAlias type="lt.vu.mybatis.model.TheatreMovies" alias="TheatreMovies"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="PlayersDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AuditoriumMapper.xml"/>
        <mapper resource="mybatis.xml/MovieMapper.xml"/>
        <mapper resource="mybatis.xml/MovieTheatreMapper.xml"/>
        <mapper resource="mybatis.xml/TheatreMoviesMapper.xml"/>
    </mappers>
</configuration>
